<div class="container my-5">
  <!-- Logo and header -->
  <div class="text-center mb-5">
    <img src="./../../assets/images/logo-removebg-preview.png" alt="Blog Logo" class="blog-logo" />
    <h1 class="blog-title">Palestine Chronicles</h1>
    <h2 class="latest-articles-title">Latest Articles on Palestine</h2>
  </div>

  <div class="row">
    <!-- Articles -->
    <div *ngFor="let article of articles; let i = index" class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100 article-card">
        <img [src]="getImageForArticle(i)" class="card-img-top article-image" alt="Article Image">
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ getSummary(article.description)}}</p>
          <!-- <a href="#" class="btn btn-read-more">Read More</a> -->
          <button (click)="viewArticleDetail(article.id)" class="btn btn-read-more">Read More</button>

        </div>
        <div class="card-footer">
          <small class="text-muted">Published on {{ article.createdAt | date:'mediumDate' }}</small>
          <br>
          <small class="text-muted">Updated on {{ article.updatedAt | date:'mediumDate' }}</small>
        </div>
      </div>
    </div>
  </div>
</div>